.list-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.list-item .list-item--inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(0, 0, 0, .1);
  transform: scale(1);
  transition: box-shadow .2s, transform .2s;
  position: relative;
}

.list-item .list-item--inner:hover {
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, .1);
  transform: scale(1.1);
}

.list-item .list-item--inner img {
  max-height: 50%;
  max-width: 50%;
  margin: 0 .8rem .8rem 0;
  position: relative;
  z-index: 2;
}

.list-item .list-item--id {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 4rem;
  font-family: "Fredoka One";
  opacity: .05;
  z-index: 1;
}

.list-item .list-item--catch {
  position: absolute;
  z-index: 3;
  top: .4rem;
  right: .4rem;
  filter: grayscale();
  opacity: 0;
  transform: scale(.5);
  transition: transform .3s, opacity .3s, filter .3s;
  border: 0 none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.list-item .list-item--inner:hover .list-item--catch {
  opacity: 1;
  transform: scale(1);
}

.list-item .list-item--inner .list-item--catch:hover {
  transform: scale(1) rotate(10deg);
}

.list-item .list-item--inner .list-item--catch:active {
  transform: scale(1.4);
}

.list-item .list-item--catch svg {
  height: 3.8rem;
}

.list-item .list-item--caught {
  opacity: 1;
  transform: scale(1);
  filter: none;
}
